{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type"text/css" href="{% static 'styles/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
	<div class="side_menu">
		<div class="side_title" onclick="window.location.href='{% url 'home' %}';">
			<h1 class="side_menu_title">The Forge</h1>
		</div>
		<div class="side_menu_home" onclick="window.location.href='{% url 'home' %}';">
			<h2 class="side_menu_text">Home</h2>
		</div>
		<div class="side_menu_plan" onclick="window.location.href='{% url 'plan' %}';">
			<h2 class="side_menu_text">Plan</h2>
		</div>
		<div class="side_menu_excercices" onclick="window.location.href='{% url 'excercices' %}';">
			<h2 class="side_menu_text">Excercices</h2>
		</div>
		<div class="side_menu_profile" onclick="window.location.href='{% url 'profile' %}';">
			<h2 class="side_menu_text">Profile</h2>
		</div>
		<div class="side_menu_login" onclick="window.location.href='{% url 'login' %}';">
			<h2 class="side_menu_text">login</h2>
		</div>
	</div>
	<div class="main_page">
    	{% block body %}
    	{% endblock %}
	</div>
</body>
</html>
